* {
    box-sizing: border-box;
}


body {
    margin: 0;
}


header, footer {
    color: blanchedalmond;
    background-color: rgb(56, 161, 126);
    padding: 2rem;
}

main {
   margin: 2rem;
   min-height: 60vh;
}
